body {
margin: 0;
font-family: monospace;
background: #f2d18b;
color: #3b2a1a;
height: 100vh;  
display: flex;
flex-direction: column;
}


.top-bar {
background: #59c3f0;
display: flex;
align-items: center;
padding: 1px;
display: flex;
justify-content: center;
gap: 10px;   
text-align: center;
color: #1277d8;
font-size: 1rem;
flex-shrink: 0;
}


.logo { width: 70px; margin-right: 10px; }


.nav-bar {
background: #1277d8;
padding: 5px;
text-align: center;
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}


.nav-bar a {
margin: 10px;
color: #59c3f0;
text-decoration: none;
font-size: 1rem;
letter-spacing: 3px;
font-weight: 900;
font-family: 'Montserrat Black', sans-serif;
flex-shrink: 0;
}


.content { 
padding: 20px; 
flex: 1;
font-size: 1rem;
font-weight: bold;
overflow-y: auto;
}


.info-box {
background: #4fb6e8;
padding: 20px;
border-radius: 15px;
width: 60%;
margin: 20px auto;
text-align: center;
font-size: 1rem;
font-weight: bold;
}


footer {
background: #6b3f1d;
color: #f2d18b;
display: flex;
justify-content: space-between;
padding: 15px;
flex-shrink: 0;
}

footer div {
color: #f2d18b;
font-size: 1rem;
font-weight: 700;
}

footer a {
color: #f2d18b;
font-size: 1rem;
font-weight: 700;
}