@font-face {
  font-family: 'Pixel Font';
    src: url(../assets/stardew-valley-stonks.ttf);
}
* {
  font-family: 'Pixel Font';
}

body {
margin: 0;
font-family: monospace;
background: #f2d18b;
color: #3b2a1a;
height: 100vh;  
display: flex;
flex-direction: column;
}


.top-bar {
background: #59c3f0;
display: flex;
align-items: center;
padding: 0 15px;
position: relative;
height: 80px;          
min-height: 80px;
justify-content: center;
gap: 10px;   
text-align: center;
flex-shrink: 0;
flex-direction: row;
}

.top-bar > * {
flex-shrink: 0;
}

.top-bar h1 {
font-size: 2rem;
color: #1277d8;
text-align: center;
margin: 0;
flex-shrink: 1;
}


.logo { 
width: 70px; 
margin-right: 10px; 
flex-shrink: 0; 
align-items: left;
height: auto;
}

.titlelogo {
  position: relative;
  left: -10px;
  flex-shrink: 0;
  max-width: 2000px;
}

.menu-wrapper {
position: relative;
}

.menu {
font-size: 40px;
cursor: pointer;
display: none;
margin-left: auto;
}



.dropdown {
background: #2fa4dd;
position: absolute;
top: 73px;
right: 0;
width: 220px;
display: none;
z-index: 1000;         
flex-direction: column;    
}


.dropdown a {
display: block;
color: white;
font-weight: 900;
padding: 10px;
text-decoration: none;
font-size: 1.5rem;
text-align: center;
border-bottom: 1px solid #59c3f0;
}

.dropdown.active {
display: flex;
}

.dropdown .close {
align-self: flex-end;
cursor: pointer;
font-size: 25px;
margin-bottom: 10px;
color: whitesmoke;
}

.hidden { 
display: none; 
}


.nav-bar {
background: #1277d8;
padding: 5px;
text-align: center;
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}


.nav-bar a {
margin: 10px;
color: #59c3f0;
text-decoration: none;
font-size: 1rem;
letter-spacing: 3px;
font-weight: 900;
flex-shrink: 0;
}


.content { 
padding: 20px; 
flex: 1;
font-size: 1.5rem;
font-weight: bold;
overflow-y: auto;
flex-direction: column;
display: flex;
align-items: center;
}

.intro {
font-size: 3rem;
font-weight: 700;
text-align: center;
}


.info-box {
background: #4fb6e8;
padding: 20px;
border-radius: 15px;
width: 60%;
margin: 20px auto;
text-align: center;
font-size: 1.5rem;
font-weight: bold;
}

h1{
color: #09569d;
letter-spacing: 5px;
font-weight: 900;
text-align: center;
font-size: 2rem;
}

.image {
display: flex;
justify-content: center;
width: 1000px;
max-width: 100%;
margin: 20px;
height: auto;
}


footer {
background: #6b3f1d;
color: #f2d18b;
display: flex;
justify-content: space-between;
padding: 15px;
flex-shrink: 0;
flex-wrap: wrap;
}

footer div {
color: #f2d18b;
font-size: 1rem;
font-weight: 700;
}


footer a {
color: #f2d18b;
font-size: 1rem;
font-weight: 700;
}

@media (max-width: 768px) {

  .top-bar {
    flex-direction: row;
    padding: 10px;
    height: 70px;
    justify-content: space-around;
  }

  .top-bar h1 {
    font-size: 1.4rem;
    flex-shrink: 1;
    margin: 0 10px;
  }

  .logo {
    width: 55px;
    margin-right: 0;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .nav-bar {
    display: none;   
  }

  .menu {
    display: block; 
    margin-left: auto;
    font-size: 36px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
  }

  .content {
    font-size: 1.2rem;
    padding: 15px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .text-image {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    order: -1; 
    width: 90%; 
  }

  .text {
    order: 0; 
    text-align: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}